* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainGrey: #554747;
$Syyadred: #8b160e;
$mainWhite: #f9effb;
$Grey: #ececec;
$Feltgreen: #318844;
$nicegreen: #3bac4e;
$random: #be2e20;

body {
  background: $Grey;
  color: $Syyadred;
  font-family: "Playfair Display", serif;
}
